<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="../../utilities/presets.css" /> -->
    <!-- <link rel="stylesheet" href="./header.css" /> -->
    <link rel="stylesheet" href="../../main.css" />
    <script
      src="https://kit.fontawesome.com/396044bcab.js"
      crossorigin="anonymous"
    ></script>
    <title>Header</title>
  </head>
  <body>
    <div class="headers-container">
      <!-- Standard Header  -->
      <h1>Fixed Header ☝️</h1>
      <br /><br />
      <h1>Standard Header</h1>

      <div class="header">
        <ul class="header-l-aligned-items list-style-none">
          <li class="icon">
            <i class="fas fa-bars hamburger-icon header-icon fa-2x"></i>
          </li>
          <li>
            <h2 class="brand">Phoenix UI</h2>
          </li>
        </ul>
        <ul class="header-r-aligned-items list-style-none">
          <li>
            <a href="#"><i class="fas fa-download header-icon fa-2x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-print header-icon fa-2x"></i></a>
          </li>
          <li class="bookmark-icon-container">
            <a href="#"><i class="fas fa-bookmark fa-2x bookmark-icon"></i></a>
          </li>
        </ul>
      </div>
      <!-- Short Header  -->
      <h1>Short Header</h1>

      <div class="header short-header">
        <ul class="header-l-aligned-items list-style-none">
          <li class="icon">
            <i class="fas fa-bars hamburger-icon header-icon fa-2x"></i>
          </li>
          <li>
            <h2 class="brand">Phoenix UI</h2>
          </li>
        </ul>
        <ul class="header-r-aligned-items list-style-none">
          <li>
            <a href="#"
              ><i
                class="fas fa-download header-icon visibility-hidden fa-2x"
              ></i
            ></a>
          </li>
          <li>
            <a href="#"
              ><i class="fas fa-print header-icon visibility-hidden fa-2x"></i
            ></a>
          </li>
          <li class="bookmark-icon-container">
            <a href="#"><i class="fas fa-bookmark fa-2x bookmark-icon"></i></a>
          </li>
        </ul>
      </div>
      <!-- Short and always collapsed  -->
      <h1>Short and always collapsed header</h1>

      <div class="header short-header short-collapsed-header">
        <ul class="header-l-aligned-items list-style-none">
          <li class="icon">
            <i class="fas fa-bars hamburger-icon header-icon fa-2x"></i>
          </li>
          <li>
            <h2 class="brand display-none">Phoenix UI</h2>
          </li>
        </ul>
        <ul class="header-r-aligned-items list-style-none">
          <li class="display-none">
            <a href="#"
              ><i
                class="fas fa-download header-icon   fa-2x"
              ></i
            ></a>
          </li>
          <li class="display-none">
            <a href="#"
              ><i
                class="fas fa-print header-icon   fa-2x"
              ></i
            ></a>
          </li>
          <li class="bookmark-icon-container">
            <a href="#"><i class="fas fa-bookmark fa-2x bookmark-icon"></i></a>
          </li>
        </ul>
      </div>
      <!-- prominent  -->
      <h1>Prominent header</h1>

      <div class="header prominent-header">
        <ul class="header-l-aligned-items list-style-none">
          <li class="icon">
            <i class="fas fa-bars hamburger-icon header-icon fa-2x"></i>
          </li>
          <li>
            <h2 class="brand prominent-brand">Phoenix UI</h2>
          </li>
        </ul>
        <ul class="header-r-aligned-items list-style-none">
          <li>
            <a href="#"><i class="fas fa-download header-icon fa-2x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-print header-icon fa-2x"></i></a>
          </li>
          <li class="bookmark-icon-container">
            <a href="#"><i class="fas fa-bookmark fa-2x bookmark-icon"></i></a>
          </li>
        </ul>
      </div>
      <!-- Fixed Header  -->

      <div class="header fixed-header">
        <ul class="header-l-aligned-items list-style-none">
          <li class="icon">
            <i class="fas fa-bars hamburger-icon header-icon fa-2x"></i>
          </li>
          <li>
            <h2 class="brand">Phoenix UI</h2>
          </li>
        </ul>
        <ul class="header-r-aligned-items list-style-none">
          <li>
            <a href="#"><i class="fas fa-download header-icon fa-2x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-print header-icon fa-2x"></i></a>
          </li>
          <li class="bookmark-icon-container">
            <a href="#"><i class="fas fa-bookmark fa-2x bookmark-icon"></i></a>
          </li>
        </ul>
      </div>
      <!-- dense header  -->
      <h1>Dense Haeder</h1>
      <div class="header dense-header">
        <ul class="header-l-aligned-items list-style-none">
          <li class="icon">
            <i class="fas fa-bars hamburger-icon header-icon fa-2x"></i>
          </li>
          <li>
            <h2 class="brand">Phoenix UI</h2>
          </li>
        </ul>
        <ul class="header-r-aligned-items list-style-none">
          <li>
            <a href="#"><i class="fas fa-download header-icon fa-2x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-print header-icon fa-2x"></i></a>
          </li>
          <li class="bookmark-icon-container">
            <a href="#"><i class="fas fa-bookmark fa-2x bookmark-icon"></i></a>
          </li>
        </ul>
      </div>

      </div>
      <!-- -------------- -->
    </div>
  </body>
</html>
