.list-style-none {
  list-style: none;
}
.headers-container {
  width: calc(100vw - 8rem);
  position: relative;
  padding: 4rem;
  margin-top: 7rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8rem;
  background-color: var(--oranged);
  padding: 1.5rem;
  margin-bottom: 4rem;
  margin-top: 1rem;
}
.brand {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--white);
  margin: 2rem;
}
.header-icon {
  color: white;
  padding: 1.5rem;
  margin: 1rem;
  cursor: pointer;
}
.bookmark-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9.5ex;
  width: 9.5ex;
  color: white;
  /* text-align: center; */
  border-radius: 50%;
}
.bookmark-icon-container:hover {
  background-color: var(--orange);
  cursor: pointer;
}
.bookmark-icon {
  color: white;
}
.header-icon:hover {
  background-color: var(--orange);
  border-radius: 50%;
}

.header-bookmark-icon {
  padding: 1rem 1.2rem;
}

.header-l-aligned-items {
  display: flex;
  align-items: center;
}

.header-r-aligned-items {
  display: flex;
  justify-content: start;
  align-items: center;
}

/* Short Header  */

.short-header {
  height: 7rem;
}

.visibility-hidden {
  visibility: hidden;
}

/* short and always collapsed  */
.display-none {
  display: none;
}
.short-collapsed-header {
  padding: 1.5rem 4rem 1.5rem 0rem;
  max-width: 14rem;
  border-bottom-right-radius: 3rem;
}

/* prominent  */

.prominent-header {
  position: relative;
  height: 15rem;
  align-items: flex-start;
  padding-top: 0rem;
}

.prominent-brand {
  position: absolute;
  bottom: 0;
}

/* fixed header  */

.fixed-header {
  position: fixed;
  top: 0;
  left: 2;
  width: 90%;
}

/* dense */
.dense-header {
  height: 6rem;
}
