<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../main.css" />
    <title>Dialog</title>
  </head>
  <body>
    <div class="dialog-wrapper">
      <div class="dialog">
        <div class="dialog__heading-body">
          <h2>Dialog Heading</h2>
          <p>Dialog body text</p>
        </div>
        <div class="dialog__action-buttons">
          <ul>
            <li>ACTION 1</li>
            <li>ACTION 2</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
