<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="../../main.css" />
        <script
          src="https://kit.fontawesome.com/396044bcab.js"
          crossorigin="anonymous"
        ></script>
        <script></script>
        <title>Toast</title>
      </head>
      <body></body>
    </html>
    <title>Document</title>
  </head>
  <body>
    <div class="toast-wrapper">
      <div class="toast">
        <span class="toast__text"
          >Something went wrong. Retry in 5 seconds.
        </span>
        <a class="toast__retry" href="#">RETRY</a>
        <i class="fas fa-times toast__close"></i>
      </div>
    </div>
  </body>
</html>
