<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="cards.css" /> -->
    <!-- <link rel="stylesheet" href="../presets.css" /> -->
    <link rel="stylesheet" href="../../main.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="card-varients">
      <button class="display-card-btn basic card-active-button">Basic</button>
      <button class="display-card-btn basic-with-text-over-media">
        Basic With Text Over Media
      </button>
      <button class="display-card-btn basic-with-header">
        Basic With Header
      </button>
      <button class="display-card-btn basic-with-only-buttons">
        Basic With Only Buttons
      </button>
      <button class="display-card-btn basic-with-only-icons">
        Basic With Only Icons
      </button>
      <button class="display-card-btn horizontal-image-and-text">
        Horizantal Image and Text
      </button>
    </div>
    <!-- Horizontal Image and Text -->
    <div class="card-comp-container">
      <div class="card-container display-none">
        <div class="image-text-container">
          <div class="img-container">
            <img src="./images/planet.jpeg" alt="" />
          </div>
          <div class="text-container">
            <h1>Our Changing Planet</h1>
            <h2>by Suraj Rai</h2>
          </div>
        </div>
        <div class="card-footer">
          <div class="card-footer-l-container">
            <span><a href="#">READ</a></span>
            <span><a href="#">BOOKMARK</a></span>
          </div>

          <div class="card-footer-r-container">
            <button class="heart-button">
              <img src="./images/svg/heart-regular.svg" alt="" />
            </button>
            <button class="share-button">
              <img src="./images/svg/share-icon.svg" alt="" />
            </button>
            <button class="more-button">
              <img src="./images/svg/more.svg" alt="" />
            </button>
          </div>
        </div>
      </div>

      <!-- Basic w/ Only Icons -->

      <div class="card-container display-none">
        <div class="image-text-container img-txt-para-container">
          <div class="image-container">
            <img src="./images/planet.jpeg" alt="" />
          </div>
          <div class="text-container">
            <h1>Our Changing Planet</h1>
            <h2>by Suraj Rai</h2>
            <p>
              There are no conversations more important to have than those that
              seek to understand how life exists, changes, thrives, or perishes
              on this planet.
            </p>
          </div>
        </div>
        <div class="card-footer">
          <div class="card-footer-l-hidden-container">
            <span><a href="#">READ</a></span>
            <span><a href="#">BOOKMARK</a></span>
          </div>
          <div class="card-footer-r-container">
            <button class="heart-button">
              <img src="./images/svg/heart-regular.svg" alt="" />
            </button>
            <button class="share-button">
              <img src="./images/svg/share-icon.svg" alt="" />
            </button>
            <button class="more-button">
              <img src="./images/svg/more.svg" alt="" />
            </button>
          </div>
        </div>
      </div>

      <!-- Basic w/ Only Buttons -->

      <div class="card-container display-none">
        <div class="image-text-container img-txt-para-container">
          <div class="image-container">
            <img src="./images/planet.jpeg" alt="" />
          </div>
          <div class="text-container">
            <h1>Our Changing Planet</h1>
            <h2>by Suraj Rai</h2>
            <p>
              There are no conversations more important to have than those that
              seek to understand how life exists, changes, thrives, or perishes
              on this planet.
            </p>
          </div>
        </div>
        <div class="card-footer">
          <div class="card-footer-l-container footer-only-btn">
            <span><a href="#">READ</a></span>
            <span><a href="#">BOOKMARK</a></span>
          </div>
          <div class="card-footer-r-hidden-container">
            <button class="heart-button">
              <img src="./images/svg/heart-regular.svg" alt="" />
            </button>
            <button class="share-button">
              <img src="./images/svg/share-icon.svg" alt="" />
            </button>
            <button class="more-button">
              <img src="./images/svg/more.svg" alt="" />
            </button>
          </div>
        </div>
      </div>

      <!-- Basic With Header  -->

      <div class="card-container display-none">
        <header>
          <h1>Our Changing Planet</h1>
          <h2>by Suraj Rai</h2>
        </header>
        <div class="image-text-container img-txt-para-container">
          <div class="image-container">
            <img id="no-border-radius" src="./images/planet.jpeg" alt="" />
          </div>

          <div class="text-container">
            <p>
              There are no conversations more important to have than those that
              seek to understand how life exists, changes, thrives, or perishes
              on this planet.
            </p>
          </div>
        </div>
        <div class="card-footer">
          <div class="card-footer-l-container">
            <span><a href="#">READ</a></span>
            <span><a href="#">BOOKMARK</a></span>
          </div>
          <div class="card-footer-r-container">
            <button class="heart-button">
              <img src="./images/svg/heart-regular.svg" alt="" />
            </button>
            <button class="share-button">
              <img src="./images/svg/share-icon.svg" alt="" />
            </button>
            <button class="more-button">
              <img src="./images/svg/more.svg" alt="" />
            </button>
          </div>
        </div>
      </div>

      <!-- Basic w/ Text over Media -->

      <div class="card-container display-none">
        <div class="image-text-container img-txt-para-container">
          <div class="image-container">
            <img src="./images/planet.jpeg" alt="" />
          </div>
          <div class="text-container">
            <div class="heading-subheading">
              <h1>Our Changing Planet</h1>
              <h2 class="sub-heading">by Suraj Rai</h2>
            </div>
            <p>
              There are no conversations more important to have than those that
              seek to understand how life exists, changes, thrives, or perishes
              on this planet.
            </p>
          </div>
        </div>
        <div class="card-footer">
          <div class="card-footer-l-container">
            <span><a href="#">READ</a></span>
            <span><a href="#">BOOKMARK</a></span>
          </div>
          <div class="card-footer-r-container">
            <button class="heart-button">
              <img src="./images/svg/heart-regular.svg" alt="" />
            </button>
            <button class="share-button">
              <img src="./images/svg/share-icon.svg" alt="" />
            </button>
            <button class="more-button">
              <img src="./images/svg/more.svg" alt="" />
            </button>
          </div>
        </div>
      </div>
      <!-- Basic  -->

      <div class="card-container basic">
        <div class="image-text-container img-txt-para-container">
          <div class="image-container">
            <img src="./images/planet.jpeg" alt="" />
          </div>
          <div class="text-container">
            <h1>Our Changing Planet</h1>
            <h2>by Suraj Rai</h2>
            <p>
              There are no conversations more important to have than those that
              seek to understand how life exists, changes, thrives, or perishes
              on this planet.
            </p>
          </div>
        </div>
        <div class="card-footer">
          <div class="card-footer-l-container">
            <span><a href="#">READ</a></span>
            <span><a href="#">BOOKMARK</a></span>
          </div>
          <div class="card-footer-r-container">
            <button class="heart-button">
              <img src="./images/svg/heart-regular.svg" alt="" />
            </button>
            <button class="share-button">
              <img src="./images/svg/share-icon.svg" alt="" />
            </button>
            <button class="more-button">
              <img src="./images/svg/more.svg" alt="" />
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="cards.js"></script>
  </body>
</html>
