<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="./chips.css" /> -->
    <!-- <link rel="stylesheet" href="/utilities/presets.css" /> -->
    <link rel="stylesheet" href="../../main.css" />

    <title>Chips</title>
  </head>
  <body>
    <!-- Basic Chips with Close Buttton  -->
    <div class="chips-wrapper">
      <span class="chips-wrapper__heading">Basic Chips</span>
      <div class="chips chips--flex-row">
        <span class="chips__text">One Fish</span>
        <span class="chips__text">Two Fish</span>
        <span class="chips__text chips__text--primary">Primary Fish</span>
        <span class="chips__text chips__text--accent">Accent Fish</span>
      </div>
    </div>
    <!-- Stacked Chips  -->
    <div class="chips-wrapper">
      <span class="chips-wrapper__heading">Stacked Chips</span>
      <div class="chips chips--flex-row flex-direction-col">
        <span class="chips__text chips__text--mod chips__text--warn"
          >One Fish</span
        >
        <span class="chips__text chips__text--mod chips__text--none"
          >Two Fish</span
        >
        <span class="chips__text chips__text--primary chips__text--mod"
          >Primary Fish</span
        >
        <span class="chips__text chips__text--accent chips__text--mod"
          >Accent Fish</span
        >
      </div>
    </div>

    <!-- Basic Chips with cross  -->
    <div class="chips-wrapper">
      <span class="chips-wrapper__heading">Basic Chips with Cross</span>
      <div class="chips chips--flex-row">
        <div class="chips__text">
          <span>One Fish</span>
          <img
            class="chips__text--image"
            src="https://img.icons8.com/material-outlined/24/000000/multiply--v1.png"
            alt=""
          />
        </div>
        <div class="chips__text">
          <span>Two Fish</span>
          <img
            class="chips__text--image"
            src="https://img.icons8.com/material-outlined/24/000000/multiply--v1.png"
            alt=""
          />
        </div>
        <div class="chips__text chips__text--primary">
          <span>Primary Fish</span>
          <img
            class="chips__text--image"
            src="https://img.icons8.com/material-outlined/24/000000/multiply--v1.png"
            alt=""
          />
        </div>
        <div class="chips__text chips__text--accent">
          <span>Accent Fish</span>
          <img
            class="chips__text--image"
            src="https://img.icons8.com/material-outlined/24/000000/multiply--v1.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </body>
</html>
