<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../main.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="drawer-container display-flex-r-center">
      <!-- --only drawer--  -->

      <div class="drawer">
        <div class="drawer__heading display-flex-c-start">
          <span class="drawer__heading--title">Title</span>
          <span class="drawer__heading--subtitle">Subtitle</span>
        </div>
        <div class="drawer__list display-flex-c-start">
          <div
            class="drawer__list--item display-flex-r-center selected-drawer-list-item"
          >
            <img class="drawer__list--icons ." src="./image/inbox.svg" alt="" />
            <a class="selected-list-item-a" href="#">Inbox</a>
          </div>
          <div class="drawer__list--item display-flex-r-center">
            <img class="drawer__list--icons" src="./image/star.svg" alt="" />
            <a href="#">Star</a>
          </div>
          <div class="drawer__list--item display-flex-r-center">
            <img class="drawer__list--icons" src="./image/send.svg" alt="" />
            <a href="#">Sent Mail</a>
          </div>
          <div class="drawer__list--item display-flex-r-center">
            <img class="drawer__list--icons" src="./image/draft.svg" alt="" />
            <a href="#"> Draft</a>
          </div>
        </div>
      </div>
      <!-- permanent drawer  -->
      <div class="permanent-drawer-wrapper">
        <div class="drawer">
          <div class="drawer__heading display-flex-c-start">
            <span class="drawer__heading--title">Mail</span>
            <span class="drawer__heading--subtitle">devsurajrai@gmail.com</span>
          </div>

          <div class="drawer__list display-flex-c-start">
            <div class="drawer__list--item display-flex-r-center">
              <img
                class="drawer__list--icons ."
                src="./image/inbox.svg"
                alt=""
              />
              <a class="selected-list-item-a" href="#">Inbox</a>
            </div>
            <div class="drawer__list--item display-flex-r-center">
              <img class="drawer__list--icons" src="./image/star.svg" alt="" />
              <a href="#">Star</a>
            </div>
            <div class="drawer__list--item display-flex-r-center">
              <img class="drawer__list--icons" src="./image/send.svg" alt="" />
              <a href="#">Sent Mail</a>
            </div>
            <div class="drawer__list--item display-flex-r-center">
              <img class="drawer__list--icons" src="./image/draft.svg" alt="" />
              <a href="#"> Draft</a>
            </div>
            <hr />
            <div class="drawer__list--item display-flex-r-center">
              <img
                class="drawer__list--icons bookmark--icon"
                src="./image/bookmark.svg"
                alt=""
              />
              <a href="#"> Family</a>
            </div>
            <div class="drawer__list--item display-flex-r-center">
              <img
                class="drawer__list--icons bookmark--icon"
                src="./image/bookmark.svg"
                alt=""
              />
              <a href="#"> Friends</a>
            </div>
            <div class="drawer__list--item display-flex-r-center">
              <img
                class="drawer__list--icons bookmark--icon"
                src="./image/bookmark.svg"
                alt=""
              />
              <a href="#"> Work</a>
            </div>
            <hr />
            <div class="drawer__list--item display-flex-r-center">
              <img
                class="drawer__list--icons"
                src="./image/setting.svg"
                alt=""
              />
              <a href="#"> Setting</a>
            </div>
            <div class="drawer__list--item display-flex-r-center">
              <img
                class="drawer__list--icons"
                src="./image/feedback.svg"
                alt=""
              />
              <a href="#"> Helpdesk & feedback</a>
            </div>
          </div>
        </div>
        <div class="header-content-container">
          <div class="header-permanent-drawer">
            <h1>Permanent Drawer</h1>
          </div>
          <div class="content">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad
            exercitationem quo rem illum earum! Debitis praesentium suscipit
            reiciendis eligendi, similique quia mollitia vitae, at ducimus
            quibusdam aspernatur laborum amet quod! Dolorem, pariatur dicta
            iusto consequatur dolorum officiis nesciunt a ab laboriosam quo
            incidunt placeat optio, numquam quos ducimus neque quam id, culpa
            sit obcaecati? Sint non incidunt officia nemo. Aperiam, ipsa
            mollitia! Quas quaerat soluta vitae. Distinctio labore modi aperiam
            a asperiores velit voluptate cumque ipsa commodi ducimus optio
            laboriosam adipisci sed hic quo autem blanditiis, ex quos tempore
            officia dolorum. Id voluptatibus placeat magni nihil iure quam
            facere amet explicabo ut harum, cumque obcaecati hic vel tempore!
            Fugiat nulla earum perferendis libero voluptate, perspiciatis
            blanditiis doloribus ipsum, maxime necessitatibus iusto suscipit.
            Similique exercitationem a saepe officiis itaque. Quisquam, amet
            molestiae. Ipsam doloremque saepe, veritatis veniam reiciendis
            praesentium natus eos corporis animi commodi pariatur laudantium,
            dolores quos facere ratione rerum magni facilis voluptates sequi
            nesciunt itaque. Inventore autem a impedit tempora repellat nihil
            nam? Voluptatem libero sit eius aspernatur cumque doloribus.
            Cupiditate, velit impedit, facilis ducimus quidem repudiandae
            doloribus saepe adipisci cumque error atque asperiores omnis ex
            ipsam? Incidunt quae recusandae repellendus nobis doloribus
            voluptates modi a odio quaerat. Dolorem commodi quasi, quo excepturi
            sapiente vitae aspernatur maiores dolorum fuga dolor debitis quae,
            tenetur rem eum aperiam sint earum soluta, qui nihil consectetur
            quos veniam ex voluptas! Ullam quis recusandae labore, possimus
            dolorem laborum eveniet cupiditate numquam natus assumenda quo, quae
            sit distinctio nihil amet ipsa. Totam illum quis suscipit cumque
            porro sunt fugit fugiat. Quod earum quidem sequi nemo dolores, quia
            facere atque corrupti cupiditate eligendi nobis iste consequuntur,
            alias, doloribus exercitationem fugit explicabo quisquam! Quae
            molestiae corrupti quaerat repudiandae, provident doloremque a, quam
            itaque sequi repellat eos consequuntur suscipit nisi est repellendus
            inventore nam et, accusantium reprehenderit! Voluptate eveniet,
            inventore perferendis possimus hic esse odit aliquid veniam sunt
            dolor, voluptas et explicabo incidunt illum. Laudantium sequi est
            incidunt hic, doloremque pariatur consequatur ipsam sunt, illo,
            mollitia quidem architecto reiciendis reprehenderit expedita
            impedit. Doloribus quod veniam explicabo accusantium molestiae.
            Veritatis voluptas corrupti placeat, sit repudiandae incidunt, autem
            similique quisquam delectus repellat tempora voluptatibus enim nobis
            illo! Fugiat dolores quidem sit odit omnis est atque quis maxime
            delectus iusto totam incidunt velit, neque ducimus minus harum
            laboriosam repellat aut suscipit enim commodi eos tempore! Tempora,
            mollitia. Suscipit repellendus mollitia cumque totam quae minima aut
            exercitationem vero. Quia consequatur inventore deleniti accusamus
            libero earum eaque obcaecati nesciunt rerum, unde ducimus mollitia
            pariatur aspernatur ea error rem laborum similique exercitationem
            recusandae, sint magni nihil ipsam dolorum. Aspernatur illum ea quas
            similique consequuntur? Recusandae quam temporibus ipsam reiciendis,
            repellat atque exercitationem ducimus nam soluta dolorem ut labore
            voluptate odio et veritatis tenetur. Quidem voluptatem
            exercitationem odit beatae molestiae? Corporis ullam quas magnam ut
            deserunt repellat, praesentium, autem, odio reiciendis fugiat id cum
            quidem ea! Veritatis reprehenderit assumenda commodi. Ullam
            temporibus quod impedit qui recusandae? Odio similique molestiae
            quisquam vel doloribus ab dicta consequatur, eligendi tempora
            eveniet aliquid earum expedita fugiat error nesciunt quod
            blanditiis, dolor asperiores unde impedit debitis sint ducimus esse!
            Omnis quos voluptas culpa, officia eum magnam reiciendis pariatur
            fuga dicta cupiditate repellat labore consequuntur atque mollitia
            aspernatur obcaecati modi voluptatem nulla dolorem ea eligendi
            totam. Consectetur rerum possimus harum eius numquam cupiditate
            libero dignissimos aperiam, eligendi pariatur inventore. Asperiores
            architecto, hic maiores provident minima dolore consectetur incidunt
            animi expedita amet rerum vero odio illum veniam delectus ratione
            harum quos eaque nostrum placeat excepturi modi ipsam eius. Enim,
            ex. Similique eveniet unde tempore nam odio vel aut explicabo sequi
            earum, ex, quos, ducimus animi in voluptas quas inventore
            praesentium iste magnam tempora veritatis nostrum modi? Esse quasi
            laborum tempora magni commodi reiciendis quia aperiam quisquam,
            dignissimos, quae distinctio sed, vitae blanditiis neque. Non
            impedit deleniti ducimus ipsa maiores ex, alias consequatur odit sed
            eos officia, reprehenderit maxime tempora. Dolore odit officia eos
            assumenda ut excepturi vero explicabo numquam nesciunt iure
            blanditiis voluptates praesentium, deserunt pariatur consectetur
            asperiores quidem facilis rem, quae vel magni molestiae, corporis
            maxime ipsum? Numquam aliquam itaque nam exercitationem. Officiis
            illo eligendi atque ipsa in sint quidem perferendis, corporis ullam,
            vero, neque accusamus facere suscipit nostrum magnam distinctio.
            Quis repellat alias corporis possimus ipsum eos odit iure delectus,
            necessitatibus a hic nihil nam. Quas quo eius fugit error corrupti
            nemo facere obcaecati officiis nisi culpa autem consectetur quod
            enim, eum, quaerat at natus corporis cupiditate delectus explicabo!
            Beatae, consequuntur alias velit enim tenetur cupiditate eos cum
            perspiciatis dolorem est aut? Aliquam libero eveniet aut. Numquam
            eligendi, maiores vero aperiam exercitationem facere, molestiae
            voluptas fuga necessitatibus dicta quos totam, eius autem? Facilis
            sunt illum numquam sint molestias ea magnam error, aperiam
            repudiandae quae tempora eum obcaecati accusantium distinctio omnis.
            Impedit nemo soluta omnis illo nisi pariatur architecto ullam
            cupiditate reprehenderit, debitis delectus, odio a ad commodi, quo
            tempora nesciunt necessitatibus itaque sit! Aut eligendi omnis
            adipisci veniam, perspiciatis nulla consequatur quae totam mollitia,
            doloribus saepe voluptate placeat quis harum dolorem possimus
            repudiandae maiores ad explicabo sapiente amet reprehenderit quasi!
            Ad quas molestiae commodi, neque corrupti beatae exercitationem.
            Nisi, maiores earum dolorum consequatur repellendus consequuntur
            voluptatum eius incidunt rem perspiciatis sequi atque aspernatur, in
            iure porro voluptate repudiandae ex facilis voluptatibus asperiores
            amet fuga, sed aperiam. Expedita, velit. Pariatur, reprehenderit
            quis numquam eos sit possimus repellat consequuntur? Nam quas
            sapiente adipisci amet omnis harum perspiciatis nostrum optio,
            dolores asperiores praesentium quod exercitationem nulla ratione
            obcaecati ab neque deleniti quisquam cum. Placeat debitis ducimus
            tempora quam at possimus voluptas consectetur itaque? Culpa qui
            similique ab vitae, assumenda vel sed consequatur provident totam
            tempora minus. Suscipit minus fugiat eaque fugit repudiandae quam
            hic eveniet eius voluptates blanditiis quo incidunt labore amet
            voluptas sunt, optio excepturi, esse nobis cum repellat voluptate.
            Consequuntur quo et hic ea odio natus deleniti doloremque, accusamus
            minima magni nobis deserunt, provident molestias consequatur
            exercitationem ducimus debitis culpa mollitia quam velit! Tenetur a
            quo tempora in, magni expedita sed quas inventore porro corrupti nam
            quia voluptatibus, rem sit modi laboriosam vel ad aspernatur odit
            provident alias. Aliquam, maiores illo!
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
