<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../utilities/presets.css" />
    <link rel="stylesheet" href="./badge.css" />
    <script
      src="https://kit.fontawesome.com/396044bcab.js"
      crossorigin="anonymous"
    ></script>
    <title>Badge</title>
  </head>
  <body>
    <div class="badges-container">
      <h1>Badges Overview</h1>
<!-- Text with a badge    -->

      <p class="badge-container">
        <span class="text-with-badge__text">Text with a badge <span class="badge">6</span></span>
      </p><br><br><br><br>
      <!-- Text with large badge  -->
      <p class="badge-container ">
        <span class="text-with-badge__text">Text with large badge <span class="badge large-badge">1</span></span>
      </p><br><br><br><br>
      <!-- Button with a badge on left  -->
      <p class="badge-container ">
        <span class="text-with-badge__text">Button with a badge on left </span><Button class="btn-w-badge">Action<span class="badge btn-left-badge">8</span></Button>
      </p><br><br><br><br>
      <!-- Button with a badge on Right  -->
      <p class="badge-container ">
        <span class="text-with-badge__text">Button with a badge on left </span><Button class="btn-w-badge">Action<span class="badge btn-right">8</span></Button>
      </p><br><br><br><br>
      <!-- Icon with a badge  -->
      <div class="badge-container ">
        <!-- <span>Icon with Badge</span> -->
        <div class="icon-container">
        <i class="fab fa-whatsapp fa-2x"></i>
        <span class="badge icon-badge">5</span>
        </div>
      </div>

    </div>
    </div>
  </body>
</html>
